{{ $data := index site.Data site.Language.Lang }}

{{ if $data.testimonial.testimonial.enable }}
{{ with $data.testimonial.testimonial }}
{{"<!-- Start Testimonial -->" | safeHTML}}
<section id="testimonial" class="testimonial overly section bg-2"
	style='background-image: url("{{ .bg_image_webp | absURL }}")'>
	<!-- this image is for trigger this section fallback background image -->
	<img src="{{ .bg_image_webp | absURL }}" style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .bg_image | absURL }})'">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				{{"<!-- testimonial wrapper -->" | safeHTML}}
				<div id="testimonials" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
					<!-- {{ range .testimonial_item }} -->
					{{"<!-- testimonial single -->" | safeHTML}}
					<!-- <div class="item text-left"> -->
						

						<!-- {{"client photo" | safeHTML}} -->
						<!-- <div class="client-thumb">
							<img class="img-fluid lozad" data-src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">
						</div> -->

						<!-- {{"client info" | safeHTML}} -->
						<div class="client-info">
							<!-- <div class="client-meta">
								<h3>{{ .name }}</h3>
								<span>{{ .date }}</span>
							</div> -->
							<div class="client-comment">
								<!--YL: ADD the report and the text below-->
								<div class="row">
									<div class= col-xl-3>
										<a href="https://www.acct.org/files/Strengthening%20Rural%20Community%20Colleges%202021.pdf" target="_blank"><img class="report-cover lozad" data-src="images/asset/report-cover.png" alt="{{ .name }}"></a>
									</div>
									<div class = col-xl-3>
										<h2><b>Released <span class="color">Report</span></b></h2>
										<p><a href="https://www.acct.org/files/Strengthening%20Rural%20Community%20Colleges%202021.pdf" target="_blank"><b>Strengthening Rural Community Colleges: Innovations and Opportunities</b></a> details the needs and challenges of rural community colleges throughout the United States.</p>
									</div>
									<div class = col-xl-6>
										<h2><b>Media <span class="color">Highlights</span></b></h2>
										<ul class = "media-highlight">
											<li><a href = "https://www.publicnewsservice.org/2021-04-01/education/rural-ca-community-colleges-move-to-combat-poverty-digital-divide/a73777-1" target="_blank"><b>Public News Service: </b>Rural CA Community Colleges Move to Combat Poverty, Digital Divide</a></li>
											<li><a href = "https://dailyyonder.com/rural-community-colleges-see-slump-in-enrollment-due-to-the-pandemic/2021/03/30/" target="_blank"><b>Daily Yonder: </b>Rural Community Colleges See Slump in Enrollment Due to the Pandemic</a></li>
											<li><a href = "https://diverseeducation.com/article/208561/" target="_blank"><b>Diverse: </b>Report Highlights Challenges Facing Rural Communities</a></li>
											<li><a href = "https://www.chronicle.com/newsletter/the-edge/2021-03-24" target="_blank"><b>Chronicle: </b>4 Challenges That Threaten College Completion Now and Post-Pandemic</a></li>
											<li><a href = "https://www.insidehighered.com/quicktakes/2021/03/17/problems-facing-rural-community-colleges" target="_blank"><b>Inside Higher Ed: </b>Problems Facing Rural Community Colleges</a></li>
											<li><a href = "https://www.wtvq.com/2021/03/23/rural-community-college-students-face-more-challenges-study/" target="_blank"><b>ABC 36 News: </b>Rural community college students face more challenges: Study</a></li>
											<li><a href = "https://www.kuer.org/podcast/news-briefs/2021-04-02/pm-news-brief-fake-vaccination-cards-protesting-encircle-tech-industry-wage-gap" target="_blank"><b>NPR Utah: </b>Rural Community College Enrollment Took A Huge Hit From Pandemic</a></li>
										</ul>
									</div>
								</div>
								
								
								
							</div>
						</div>
					<!-- </div> -->
					{{"<!-- /testimonial single -->" | safeHTML}}
					<!-- {{ end }} -->
				</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- /testimonial -->" | safeHTML}}
{{ end }}
{{ end }}
