<section id="usmap">
	<div class = "container">
		<div class = "usmapIntro">
			<br>
			<p>The exact number of rural community colleges in the United States varies based on who is counting. According to the Department of Education, there are <span class="highlightText">260</span> rural community colleges in the United States. The Rural Community College Alliance (RCCA) puts the number between <span class="highlightText">600 and 800</span>. This wide disparity can be attributed in part to disagreements over <span class="highlightText">the definition of rural</span>. At the federal level, there are more than a dozen different definitions of rurality, based on a variety of factors, from population density to geographic isolation, to socioeconomic indicators. The wide variety of definitions is in many ways appropriate, as it underscores the fact that rural America is not a monolith; however, the different standards complicate assessing rural community college needs. Below you can see the large variation between the two definitions of rurality.</p>
		</div>
		<div class= "test row justify-content-md-center usmapIntro">
			<div class="switch">
				<br>
				<b>Rural Definition 1</b>
				<label>
					<input id="switch-ruralDefinition1" type="checkbox"  />
					<span class="lever"></span>
				</label>
			</div>
			<div class="switch">
				<br>
				<b>Rural Definition 2</b>
				<label>
					<input id="switch-ruralDefinition2" type="checkbox"  />
					<span class="lever"></span>
				</label>
			</div>
		</div>
		
		<div id="map" class="test"></div>
	</div>
</section>
