<section id="usmap">
	<div class = "container">
		<div>
			<br>
			<p>Some placeholder text to introduce the background and to guide users in reading the map. Try to make the text short so the focus is on the map. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem similique voluptate pariatur cupiditate fuga quia! Vel officia in et, quod reprehenderit sit aliquam voluptate sunt modi nesciunt repudiandae doloribus expedita.</p>
		</div>
		<div class= "test row justify-content-md-center">
			<div class="switch">
				<br>
				<b>Rural Definition 1</b>
				<label>
					<input id="switch-ruralDefinition1" type="checkbox"  />
					<span class="lever"></span>
				</label>
			</div>
			<div class="switch">
				<br>
				<b>Rural Definition 2</b>
				<label>
					<input id="switch-ruralDefinition2" type="checkbox"  />
					<span class="lever"></span>
				</label>
			</div>
		</div>
		
		<div id="map" class="test"></div>
	</div>
</section>
