<section id="usmap">
	<div class = "container">
		<div class= "test row justify-content-md-center">
			<div class="switch">
				<br>
				rural Definition 1
				<label>
					False
					<input id="switch-ruralDefinition1" type="checkbox"  />
					<span class="lever"></span>
					True
				</label>
			</div>
			<div class="switch">
				<br>
				rural Definition 2
				<label>
					False
					<input id="switch-ruralDefinition2" type="checkbox"  />
					<span class="lever"></span>
					True
				</label>
			</div>
		</div>
		
		<div id="map" class="test"></div>
	</div>
</section>
