{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}

{{ partial "about.html" . }}

{{ partial "testimonial.html" . }}

<!-- {{ partial "usmap.html" . }} took the map section now per Rachel's request on 8/20/21-->

{{ partial "cta.html" . }}

{{ partial "blog.html" . }}

{{ partial "service.html" . }}

{{ partial "skill.html" . }}

{{ partial "portfolio.html" . }}

{{ partial "funfacts.html" . }}

{{ partial "team.html" . }}

{{ partial "pricing.html" . }}

{{ partial "feature.html" . }}

{{ partial "contact.html" . }}

{{ partial "map.html" . }}

{{ end }}